.discount_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:5%;
    font-family: 'Abril Fatface', cursive;
}

.dicount_1{
    display: flex;
    flex-direction: row;
    width: 35%;
    margin: auto;
}
.div1{  
    margin: auto;
}

.div2{
    width: 80%;
    margin: auto;
    display: none;
}
.div2 p span a{
    color: #d3c09a;
    font-family: 'Abril Fatface', cursive;
}

.div3{
    width: 40%;
    margin: auto;
    display: none;
}
.div3 p a{
    color: #d3c09a;
    font-family: 'Abril Fatface', cursive;
}

.div1 div{
    margin-left: auto;
    margin-right: auto;
}

.cut_pic img{
    margin:auto;
    width: 60%;
    height: 100%;
}
.step3_container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.insta_container{
    width: 100%;
    color: #d3c09a;
    font-size: 1.2rem;
    font-weight: 900;
    border:0.1rem solid white;
    /* font-family: 'Abril Fatface', cursive; */
}
.insta_container2{
    width: 100%;
    color: #d3c09a;
    font-size: 1.2rem;
    font-weight: 900;
    border:0.1rem solid white;
    /* font-family: 'Abril Fatface', cursive; */
}
.insta_container3{
    width: 100%;
    color: #d3c09a;
    font-size: 1.2rem;
    font-weight: 900;
    border:0.1rem solid white;
    /* font-family: 'Abril Fatface', cursive; */
}

.insta_dis{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.div1 div p a{
    color: #d3c09a;
    font-family: 'Abril Fatface', cursive;
}
@media screen and (min-width:100px) and (max-width:1120px){
    .insta_dis{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .cut_pic img{
        margin:auto;
        width: 100%;
        height: 100%;
    }
    .dicount_1{
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: auto;
    }
    .div3{
        width: 80%;
        margin: auto;
        display: none;
    }
    
}